<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{{block "title"}}} - Example</title>
  {{{block "style"}}}
</head>
<body>
  {{{body}}}
  {{{block "script"}}}
</body>
</html>
